<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css">
        <!-- fuente para textos -->
        <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css">
        <!-- Archivo CSS -->
        <link rel="../style.css">
        <title>Product Gallery</title>
    </head>
    <body>
        <main className='itemListContainer'>
            <%- include('./partials/navbar.ejs'); %>
            <h1 className='itemListContainerTitle'>* Productos *</h1>
            <ul className='itemList'>
                <% products.forEach(product => { %>
                    <li className='itemCard'>
                        <div className='itemCardPadding'>
                            <picture><img className='itemImage' src="<%=product.thumbnail%>" alt="<%=product.name%>"></img></picture>
                            <h2 className='itemCardName'><%=product.name%></h2>
                            <p className='itemPrice'>$ <%=product.price%></p>
                            <a href="/products/<%=product.id%>" className='itemButton'>Ver Detalles</a>
                        </div> 
                    </li>
                <% }); %> 
            </ul>
            <%- include('./partials/footer.ejs'); %>
        </main>
    </body>
</html>